h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5rem;
    font-weight: 700;
    color: #000;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #000;
}
button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}
button:hover{
background-color: #008000;
}